.hover:hover{
 cursor: pointer;
 /*font-size: 18px;*/
 color: #369688;
}

.hover-content:hover{
 cursor: pointer;
 border-left-color: #009688;
 border-bottom: 0;
}

.radius{
 border-radius: 8px;
}

.font-10{
 font-size: 10px;
}


.hidden-content{
 display: none;
}

.grey-color{
 color: #212529;
}

.border-grey-color{
 border: 1px solid #212529;
 border-radius: 6px;
 padding: 8px;
}

.box{
 position: relative;
 border-radius: 2px;
 background: #ffffff;
}

.box-primary{
 background: #369688;
 color: #fff;
}

.box-header{
 height: 40px;
 display: block;
 padding: 10px;
 position: relative;
}

.box-body{
 border-top-left-radius: 0;
 border-top-right-radius: 0;
 border-bottom-right-radius: 3px;
 border-bottom-left-radius: 3px;
}

.box-title{
 font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#369688;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:25px;
}

.center-block{
 display: block;
 margin-right: auto;
 margin-left: auto;
}

.btn-blue{
 background-color: #17a2b8;
 color:white;
}

.text-blue{
 color:#17a2b8;
}

.btn-orange{
 background-color: #ff8507fa;
 color:white;
}

body.dragging, body.dragging * {
 cursor: move !important;
}

.dragged {
 position: absolute;
 opacity: 0.5;
 z-index: 2000;
}

ol.example li.placeholder {
 position: relative;
 /** More li styles **/
}
ol.example li.placeholder:before {
 position: absolute;
 /** Define arrowhead **/
}

.no-border{
 border: none !important;
}